# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.vs/
Client/Default/x64/
Client/Bin/Debug/*
!Client/Bin/Debug/fmod.dll
Client/Bin/Release/*
!Client/Bin/Release/fmod.dll
Client/Bin/Sound/*
Editor/Bin/Debug/*
!Editor/Bin/Debug/fmod.dll
!Editor/Bin/Debug/assimp-vc143-mtd.dll
Editor/Bin/Release/*
!Editor/Bin/Release/fmod.dll
!Editor/Bin/Release/assimp-vc143-mt.dll
Engine/Bin/Debug
Engine/Bin/Release
Engine/Public/json.hpp
Editor/Default/x64/
Engine/Default/x64/
EngineSDK/*
